Node-Red/Node-Red_Application.json
[
    {
        "id": "d0c4aecafb143c37",
        "type": "tab",
        "label": "MQTT_Message_Protocol",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b17d0a21164949b",
        "type": "mqtt out",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/Pill/Send",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58aa0f37856f1284",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "3b8f70cc351dd59a",
        "type": "debug",
        "z": "d0c4aecafb143c37",
        "name": "Print all messages in topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1160,
        "wires": []
    },
    {
        "id": "562ed1aa10ad945f",
        "type": "function",
        "z": "d0c4aecafb143c37",
        "name": "Manipulate Json",
        "func": "var d = new Date();\n//msg.payload.timestamp = d.toLocaleDateString() + \" - \" + d.toLocaleTimeString();\nmsg.payload.timestamp = new Date();\n\n\nvar msgID = context.get(\"msgID\"); //to retrieve a variable  \nif (typeof msgID == \"undefined\")\n    msgID = 1;\n\nmsg._msgid = msgID;\ncontext.set(\"msgID\", msgID+=1); // to store a variable\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "af055e26bacee945",
                "27a6cd72a6a4158c",
                "762f7f83cfefd799"
            ]
        ]
    },
    {
        "id": "af055e26bacee945",
        "type": "debug",
        "z": "d0c4aecafb143c37",
        "name": "Print Json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "27de8e5756b83d3f",
        "type": "mqtt in",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58aa0f37856f1284",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "3b8f70cc351dd59a"
            ]
        ]
    },
    {
        "id": "d169593c49e15ce4",
        "type": "inject",
        "z": "d0c4aecafb143c37",
        "name": "Inject Randomized test Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Monday\":{\"shape\":\"rectangular\",\"color\":\"yellow\"},\"Tuesday\":{\"shape\":\"rectangular\",\"color\":\"blue\"},\"Wednesday\":{\"shape\":\"round\",\"color\":\"blue\"},\"Thursday\":{\"shape\":\"round\",\"color\":\"yellow\"},\"Friday\":{\"shape\":\"round\",\"color\":\"red\"},\"Saturday\":{\"shape\":\"rectangular\",\"color\":\"red\"},\"Sunday\":{\"shape\":\"rectangular\",\"color\":\"yellow\"}}",
        "payloadType": "json",
        "x": 300,
        "y": 700,
        "wires": [
            [
                "e9541b967cf5aa14"
            ]
        ]
    },
    {
        "id": "f8e00c1c2b139a56",
        "type": "mqtt in",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/Pill/Send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58aa0f37856f1284",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "562ed1aa10ad945f"
            ]
        ]
    },
    {
        "id": "27a6cd72a6a4158c",
        "type": "mqtt out",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/Pill/Receive",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58aa0f37856f1284",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "63b76d49b50ef9b6",
        "type": "inject",
        "z": "d0c4aecafb143c37",
        "name": "Inject test String",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "1c3a914cd7853b2d"
            ]
        ]
    },
    {
        "id": "0989c1037bb3c893",
        "type": "debug",
        "z": "d0c4aecafb143c37",
        "name": "Print all messages in topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 900,
        "wires": []
    },
    {
        "id": "42815ab363564846",
        "type": "mqtt in",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/State",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58aa0f37856f1284",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 900,
        "wires": [
            [
                "0989c1037bb3c893"
            ]
        ]
    },
    {
        "id": "d3205ee1ca4a030f",
        "type": "comment",
        "z": "d0c4aecafb143c37",
        "name": "Receives Json from Jetson, then adds a timestamp and visualises gathered data and transfers message to MoroBot as a String",
        "info": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "a53793605b3bbc75",
        "type": "comment",
        "z": "d0c4aecafb143c37",
        "name": "For receiving robot state",
        "info": "",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "fcd870fcdac47a2d",
        "type": "mqtt out",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/State",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58aa0f37856f1284",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "1c0307d32a2049ef",
        "type": "inject",
        "z": "d0c4aecafb143c37",
        "name": "Inject test String",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IDLE",
        "payloadType": "str",
        "x": 280,
        "y": 980,
        "wires": [
            [
                "fcd870fcdac47a2d"
            ]
        ]
    },
    {
        "id": "1c3a914cd7853b2d",
        "type": "mqtt out",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/Pill/Send",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58aa0f37856f1284",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "762f7f83cfefd799",
        "type": "mongodb out",
        "z": "d0c4aecafb143c37",
        "mongodb": "3a85371540056f67",
        "name": "PillData",
        "collection": "Pills",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "62af20b2fd56873b",
        "type": "comment",
        "z": "d0c4aecafb143c37",
        "name": "Insert Json to DataBase",
        "info": "",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "e45e188deeb2dc68",
        "type": "comment",
        "z": "d0c4aecafb143c37",
        "name": "Publish message to Robot Topic",
        "info": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "75c788558d6c6fee",
        "type": "mqtt out",
        "z": "d0c4aecafb143c37",
        "name": "",
        "topic": "BIP/TechConnect/Pill/Send",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58aa0f37856f1284",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "02c1aacea66fbbaf",
        "type": "inject",
        "z": "d0c4aecafb143c37",
        "name": "Inject test Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Monday\":{\"shape\":\"round\",\"color\":\"red\"},\"Tuesday\":{\"shape\":\"rectangular\",\"color\":\"yellow\"},\"Wednesday\":{\"shape\":\"rectangular\",\"color\":\"blue\"},\"Thursday\":{\"shape\":\"round\",\"color\":\"red\"},\"Friday\":{\"shape\":\"round\",\"color\":\"blue\"},\"Saturday\":{\"shape\":\"rectangular\",\"color\":\"yellow\"},\"Sunday\":{\"shape\":\"round\",\"color\":\"yellow\"}}",
        "payloadType": "str",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "75c788558d6c6fee"
            ]
        ]
    },
    {
        "id": "e9541b967cf5aa14",
        "type": "function",
        "z": "d0c4aecafb143c37",
        "name": "Randomize variables",
        "func": "const colors = [\"red\", \"blue\", \"yellow\"];\nconst shapes = [\"round\", \"rectangular\"];\n\n\n//Monday\nvar randomColor = Math.floor(Math.random() * colors.length);\nvar randomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Monday.color = colors[randomColor];\nmsg.payload.Monday.shape = shapes[randomShape];\n\n//Teusday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Tuesday.color = colors[randomColor];\nmsg.payload.Tuesday.shape = shapes[randomShape];\n\n//Wednesday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Wednesday.color = colors[randomColor];\nmsg.payload.Wednesday.shape = shapes[randomShape];\n\n//Thursday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Thursday.color = colors[randomColor];\nmsg.payload.Thursday.shape = shapes[randomShape];\n\n//Friday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Friday.color = colors[randomColor];\nmsg.payload.Friday.shape = shapes[randomShape];\n\n//Saturday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Saturday.color = colors[randomColor];\nmsg.payload.Saturday.shape = shapes[randomShape];\n\n//Sunday\nrandomColor = Math.floor(Math.random() * colors.length);\nrandomShape = Math.floor(Math.random() * shapes.length);\nmsg.payload.Sunday.color = colors[randomColor];\nmsg.payload.Sunday.shape = shapes[randomShape];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "7b17d0a21164949b"
            ]
        ]
    },
    {
        "id": "07ce626f6e7acd0a",
        "type": "comment",
        "z": "d0c4aecafb143c37",
        "name": "Debugging",
        "info": "",
        "x": 220,
        "y": 1100,
        "wires": []
    },
    {
        "id": "58aa0f37856f1284",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3a85371540056f67",
        "type": "mongodb",
        "hostname": "bip.wzixxac.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "PillData",
        "name": "BIP_PillData"
    }
]
